/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

body {
  background: black;
  color: white;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
}


h1 {font-size: 6rem;}
h2 {font-size: 3.5rem;}
h3 {font-size: 3rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.8rem;}


input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.section-buttons {
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #ff4739;
  color: #141414;
  border: 2px #ff4739 solid;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
  width: 180px;
  margin:auto;
}

.article-wrapper {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.text-content-1 {
  text-align: center;
  padding-bottom: 2rem;
}

.text-content-1 p {
  font-size: 1rem;
  font-weight: 600;
}

.article-wrapper h1 {
  font-size: 3rem;
  color: #ff4739;
}

form {
  max-width:1000px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin:auto;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: #141414;
  border-radius: 10px;
}

#firt-name-label {
  grid-column-start: 1;
  grid-column-end: 2;
}
#last-name-label {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#membership-start-date-label {
  grid-column-start: 1;
  grid-column-end: 2;
}
#email-label {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#address-label {
  grid-column-start: 1;
  grid-column-end: 2;
}
#contact-num-label {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}
#medical-label {
  grid-column-start: 1;
  grid-column-end: 2;
} 

#icon-1 {
grid-column-start: 1;
grid-column-end: 2;
}
#icon-2 {
grid-column-start: 2;
grid-column-end: 3;
}
#icon-3 {
grid-column-start: 1;
grid-column-end: 2;
}
#icon-4 {
grid-column-start: 2;
grid-column-end: 3;
}
#icon-5 {
grid-column-start: 1;
grid-column-end: 3;

}
#icon-6 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 9;
grid-row-end: 10;
}
#icon-7 {
grid-column-start: 1;
grid-column-end: 3;
}

button {
grid-column-start: 1;
grid-column-end: 3;
}

.input-icons {
  padding: 0 1rem;
}

label {
  padding: 0 1rem;
}

input::-webkit-input-placeholder {
  opacity: 0;
}

input::-moz-placeholder {
  opacity: 0;
}

input:-ms-input-placeholder {
  opacity: 0;
}

input::-ms-input-placeholder {
  opacity: 0;
}

input::placeholder {
  opacity: 0;
}

textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

textarea::-moz-placeholder {
  opacity: 0.5;
}

textarea:-ms-input-placeholder {
  opacity: 0.5;
}

textarea::-ms-input-placeholder {
  opacity: 0.5;
}

textarea::placeholder {
  opacity: 0.5;
}

.input-icons svg {      
  position: absolute;
  padding: 10px;
  padding-left: 7px;
  min-width: 20px;
  margin-top: 4px;
}

#icon-7 svg {
  margin-top: 5px;
}

.input-icons {
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-color: rgb(131, 135, 146);
  border-radius: 10px;
  padding-left: 30px;
}

form h2 {
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

form label {
  padding-bottom: .5rem;
}

#medical {
  height: 100px;
  margin-bottom: 30px;
}

/*_______________________________________ four form-specific pseudo-classes to aide in user input functionality */
input:required:valid {
  border: 2px solid #c7c7c7;
  -webkit-transition: ease-in-out 250ms;
  -o-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
}

input:focus {
  border: 3px solid rgb(94, 168, 230);
}

textarea, input:hover {
  background-color: #f0f0f0;
}

.section-buttons:hover {
  cursor: pointer;
  background-color: transparent;
  color: #ff4739;
  border: 2px #ff4739 solid;
  border-radius: 8px;
  -webkit-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}

.section-buttons:active {
  font-size: .9rem;
  padding: 1.059rem 0.6rem;
  -webkit-transition: all 40ms ease-in-out;
  -o-transition: all 40ms ease-in-out;
  transition: all 40ms ease-in-out;
}

/*::before or ::after pseudo-element to denote fields with required attribute */
.required-label::after {
  content: " * Required";
  color: #ff4739;
  
}

/* Popup container */
.popup {
  width: 45px;
  padding-left: 90%;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: right;
  color: #ff4739;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  padding-bottom: 1.5rem;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: #30303085;
  color: #fff;
  text-align: center;
  padding: 4px 4px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -35%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

@media (max-width: 1580px) {
  section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem;
  }

.web-form-div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
}

@media (max-width: 900px) {
  section {padding: 0;}

  .article-wrapper {padding: 2rem 1rem;}

  form {
    border-radius: 0;
    grid-template-columns: 1fr;
  }

  label {
    display: none;
  }

  #icon-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  }
  #icon-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  }
  #icon-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  }
  #icon-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  }
  #icon-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  }
  #icon-6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}
  #icon-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  }
  
  button {
  grid-column-start: 1;
  grid-column-end: 2;
  }

  .input-icons {
    padding: 0;
  }

  input::-webkit-input-placeholder {
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  }

  input::-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  }

  input:-ms-input-placeholder {
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  }

  input::-ms-input-placeholder {
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  }

  input::placeholder {
    font-family: 'Oswald', sans-serif;
    opacity: 0.5;
  }
  
  input:required {
    border: 2px solid #ff7970;
    -webkit-box-shadow: 0px 0px 5px #ff7970;
            box-shadow: 0px 0px 5px #ff7970;      
  }

  input:required:user-valid {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .popup .popuptext {
    width: 500px;
    left: 35%;
  }
}

@media (max-width: 420px) {
  .text-content-1 p {
    font-size: 1.2rem;
  }

  .article-wrapper h1 {
    font-size: 2rem;
    text-align: center;
  }

  .popup {
    padding-left: 88%;
  }

  .popup .popuptext {
    width: 320px;
    left: 33%; 
  }

  .section-buttons {
    font-size: 0.9rem;
    width: 160px;
  }

  .section-buttons:active {
    font-size: .8rem;
   
  }
  
}