/* 
font-family: 'Archivo Black', sans-serif; (weight: 400)
font-family: 'Oswald', sans-serif; (weight: 400, 500, 600, 700)
font-family: 'Poppins', sans-serif; (weight: 200+i, 400+i, 500+i, 700+i, 900+i)*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

body {
  background: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
}

p,
a,
li,
figcaption {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
}

.section-buttons {
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #ff4739;
  color: black;
  border-style: none;
  border-radius: 3px;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
  width: 180px;
}

.outlined-section-buttons {
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: transparent;
  color: #ff4739;
  border-style: solid;
  border-radius: 3px;
  border-color: #ff4739;
  width: fit-content;
  font-weight: bold;
  font-size: 1rem;
  width: 180px;
}

button:hover {
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: underline 2px;
}
/* __________________________________________________________________________////////First Section */

#first-section {
  justify-content: flex-end;
}

#first-parent-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 75%;
  /* border: 1px solid #605e5e; */
}

#content-text-1 {
  width: 40%; /*_________________________________________________________________________________________/////////////////////////////////////////////CHANGED WIDTH FROM 30% TO 40%*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  text-align: left;
  color: white;
  /* border: 3px solid #605e5e; */
}

#content-text-1 h2 {
  font-size: 6rem;
  padding-bottom: 2.5rem;
  /*--------------------------------------------change font size down at around 1360px wide */
}

#content-img-1 {
  width: 60%;
  height: 100%;
  /* ------------------------change width to around 50-60% for mobile, adjust header font size next to it accordingly (about 1090px wide? */
}

#content-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* __________________________________________________________________________////////Second Section */

#second-section {
  background: #141414;
}

#second-parent-element {
  display: flex;
  width: 100%;
  height: 60%;
  /* border: 1px solid #605e5e; */
}

#content-img-2 {
  width: 60%;
  height: 100%;
  /* border: 1px solid #605e5e; */
}

#content-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content-text-2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  padding: 2rem 4rem;
}

#content-text-2 h2 {
  font-size: 3.5rem;
  color: #ff4739;
}

#content-text-2 p {
  font-size: 1rem;
}

/* __________________________________________________________________________////////Third Section */

#third-section {
  justify-content: center;
}

#third-parent-element {
  display: flex;
  height: 75%;
  /* border: 1px solid #605e5e; */
}

#content-text-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  /* list-style: disc; */
  padding: 2rem 4rem;
  background-color: #141414;
  /* border: 1px solid #605e5e; */
}

#content-text-3 h2 {
  font-size: 3.5rem;
  color: #ff4739;
}

#content-text-3 ul {
  margin-left: 2.5rem;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content-text-3 li {
  font-size: 1rem;
}

#buttons-container {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

#third-parent-element .section-buttons {
  color: #141414;
}
/*_________________________________________________________________________________________/////////////////////////////////////////////CHANGED WIDTH FROM 120px TO 36%*/

#content-img-3 {
  width: 50%;
  height: 100%;
}

#content-img-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* __________________________________________________________________________////////Footer */

@media (max-width: 1580px) {
  .section-buttons {
    font-size: 0.9rem;
    padding: 0.9rem 0.4rem;
  }

  .outlined-section-buttons {
    font-size: 0.9rem;
    padding: 0.9rem 0.4rem;
  }

  #content-text-1 h2 {
    font-size: 5rem;
  }

  #content-text-2 {
    gap: 2rem;
  }

  #content-text-2 h2 {
    font-size: 2.5rem;
  }

  #content-text-2 p {
    font-size: 0.9rem;
  }

  #content-text-3 h2 {
    font-size: 2.5rem;
  }

  #content-text-3 li {
    font-size: 0.9rem;
  }

  #content-text-3 ul {
    height: 30%;
  }
}

@media (max-width: 900px) {
  #first-section {
    justify-content: center;
    height: fit-content;
  }

  #first-parent-element {
    flex-direction: column;
    width: 100%;
  }

  #content-text-1 {
    width: 100%;
    height: 100vh;
    background-image: url(https://16bityoda.github.io/ML-Strength/images/homepage1.webp);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 2rem 1rem;
  }

  #content-text-1 h2 {
    font-size: 3.5em;
  }

  #content-img-1 {
    display: none;
  }

  #second-section {
    /* align-items: center; */
    height: 100vh;
  }

  #second-parent-element {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: auto;
  }

  #content-img-2 {
    width: 100%;
    /* height: 100%; */
  }

  #content-text-2 {
    width: 100%;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  #content-text-2 h2 {
    font-size: 2em;
  }

  #third-section {
    height: fit-content;
  }

  #third-parent-element {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #content-text-3 {
    width: 100%;
    height: fit-content;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  #content-text-3 h2 {
    font-size: 2em;
  }

  #content-text-3 ul {
    margin-left: 1rem;
  }

  #content-img-3 {
    width: 100%;
    /* height: 100%; */
  }
}

